@use "./Variables.scss" as *;


@mixin default-padding {
  padding: 5em 5em 10em 5em;

  @media (max-width: 780px) {
    padding: 5em 3em 4em 3em;
  }

  @media (max-width: 500px) {
    padding: 5em 2em 5em 2em;
  }
}

@mixin navigation-effect($color: $secondary-header-color) {
  cursor: pointer;
  position: relative;
  font-weight: 600;
  padding: 0.25em 0;
  color: #fff;
  transition: color 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: $color;
    transition: width 0.3s ease;
  }

  &:hover {
    color: $secondary-header-color;
  }

  &:hover::after {
    width: 100%;
  }
}