// FONTS
$primary-header-color: #e8b339;
$secondary-header-color: #00BFA6;

// BACKGROUND
$primary-background-color: #242424;
$secondary-background-color: #141414; // used mainly for inputs
$tertiary-background-color: #0f0f0f;

// Z-INDEXES
$outermost: 100;